{% component page_header(title) %}
    {% if title %}
    <div class="page-header">
        {{ title }}
    </div>
    {% endif %}
{% endcomponent page_header %}

{% component site_title(config) %}{{ config.title or "Home" }}{% endcomponent site_title %}

{% component list_post(page) %}
<li class="list-item">
    <section>
        <div class="post-header">
            <time>{{ page.date | date(format="%Y-%m-%d") }}</time>

            <div>
                <h1 class="title">
                    <a href={{ page.permalink | safe }}>{{ page.title }}</a>

                    {% if page.draft %}<span class="draft-label">DRAFT</span>{% endif %}
                </h1>

                <div class="meta">
                    <div class="description">
                        {% if page.description %}
                            {{ page.description }}
                        {% elif page.summary %}
                            {{ page.summary | safe }}&hellip;
                        {% endif %}
                    </div>

                    {% if page.description or page.summary %}
                        <a class="readmore" href={{ page.permalink | safe }}>Read more ⟶</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</li>
{% endcomponent list_post %}

{% component list_posts(pages) %}
    <ul>
        {%- for page in pages %}
            {{ <list_post page={page} /> }}
        {% endfor -%}
    </ul>
{% endcomponent list_posts %}
